---
import Layout from "./_components/Layout.astro";
import ToolCard from "./_components/ToolCard.astro";
import * as i18n from "../constants/content.json";
import technologies from "../constants/technologies";

const baseUrl = import.meta.env.PUBLIC_BASE_PATH;
const content = i18n.home;
const aboutText = i18n.about.content;
---

<Layout>
    <div class="flex flex-col py-8">
        <div class="flex gap-16">
            <div class="flex flex-col">
                <span class="text-sm md:text-md text-lightblue">
                    {content.prefix}
                </span>
                <h1 class="text-magenta">{content.name}</h1>
                <div class="text-sm flex flex-col gap-6 mt-10" set:html={aboutText} />
            </div>
            <div class="w-full border border-indigo p-4 hidden lg:block">
                <img 
                    src={`${baseUrl}/images/profile.png`} 
                    aria-hidden={true} 
                    class="h-full object-cover" 
                />
            </div>
        </div>
        <div class="py-8 flex flex-wrap gap-4">
            {technologies.map((props) => (
                <ToolCard {...props} />
            ))}
        </div>
    </div>
</Layout>